In this step exploratory data analysis is performed on the dataset. The dataset is loaded and explored to get a better understanding of the data. Possible data types are noted and data is split into train and test set.

In [1]:
# Importing the libraries
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [6]:
# load the dataset
full_df = pd.read_csv('../dataset/cell2celltrain.csv')
full_df.head()

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

In [7]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51047 entries, 0 to 51046
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 51047 non-null  int64
 1   Churn                      51047 non-null  object
 2   MonthlyRevenue             50891 non-null  float64
 3   MonthlyMinutes             50891 non-null  float64
 4   TotalRecurringCharge       50891 non-null  float64
 5   DirectorAssistedCalls      50891 non-null  float64
 6   OverageMinutes             50891 non-null  float64
 7   RoamingCalls               50891 non-null  float64
 8   PercChangeMinutes          50680 non-null  float64
 9   PercChangeRevenues         50680 non-null  float64
 10  DroppedCalls               51047 non-null  float64
 11  BlockedCalls               51047 non-null  float64
 12  UnansweredCalls            51047 non-null  float64
 13  CustomerCareCalls          51047 non-null  float64
 14  ThreewayCalls              51047 non-null  float64
 15  ReceivedCalls              51047 non-null  float64
 16  OutboundCalls              51047 non-null  float64
 17  InboundCalls               51047 non-null  float64
 18  PeakCallsInOut             51047 non-null  float64
 19  OffPeakCallsInOut          51047 non-null  float64
 20  DroppedBlockedCalls        51047 non-null  float64
 21  CallForwardingCalls        51047 non-null  float64
 22  CallWaitingCalls           51047 non-null  float64
 23  MonthsInService            51047 non-null  int64
 24  UniqueSubs                 51047 non-null  int64
 25  ActiveSubs                 51047 non-null  int64
 26  ServiceArea                51023 non-null  object
 27  Handsets                   51046 non-null  float64
 28  HandsetModels              51046 non-null  float64
 29  CurrentEquipmentDays       51046 non-null  float64
 30  AgeHH1                     50138 non-null  float64
 31  AgeHH2                     50138 non-null  float64
 32  ChildrenInHH               51047 non-null  object
 33  HandsetRefurbished         51047 non-null  object
 34  HandsetWebCapable          51047 non-null  object
 35  TruckOwner                 51047 non-null  object
 36  RVOwner                    51047 non-null  object
 37  Homeownership              51047 non-null  object
 38  BuysViaMailOrder           51047 non-null  object
 39  RespondsToMailOffers       51047 non-null  object
 40  OptOutMailings             51047 non-null  object
 41  NonUSTravel                51047 non-null  object
 42  OwnsComputer               51047 non-null  object
 43  HasCreditCard              51047 non-null  object
 44  RetentionCalls             51047 non-null  int64
 45  RetentionOffersAccepted    51047 non-null  int64
 46  NewCellphoneUser           51047 non-null  object
 47  NotNewCellphoneUser        51047 non-null  object
 48  ReferralsMadeBySubscriber  51047 non-null  int64
 49  IncomeGroup                51047 non-null  int64
 50  OwnsMotorcycle             51047 non-null  object
 51  AdjustmentsToCreditRating  51047 non-null  int64
 52  HandsetPrice               51047 non-null  object
 53  MadeCallToRetentionTeam    51047 non-null  object
 54  CreditRating               51047 non-null  object
 55  PrizmCode                  51047 non-null  object
 56  Occupation                 51047 non-null  object
 57  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(9), object(23)
memory usage: 22.6+ MB

In [8]:
full_df.isna().sum()

CustomerID                     0
Churn                          0
MonthlyRevenue               156
MonthlyMinutes               156
TotalRecurringCharge         156
DirectorAssistedCalls        156
OverageMinutes               156
RoamingCalls                 156
PercChangeMinutes            367
PercChangeRevenues           367
DroppedCalls                   0
BlockedCalls                   0
UnansweredCalls                0
CustomerCareCalls              0
ThreewayCalls                  0
ReceivedCalls                  0
OutboundCalls                  0
InboundCalls                   0
PeakCallsInOut                 0
OffPeakCallsInOut              0
DroppedBlockedCalls            0
CallForwardingCalls            0
CallWaitingCalls               0
MonthsInService                0
UniqueSubs                     0
ActiveSubs                     0
ServiceArea                   24
Handsets                       1
HandsetModels                  1
CurrentEquipmentDays           1
AgeHH1                       909
AgeHH2                       909
ChildrenInHH                   0
HandsetRefurbished             0
HandsetWebCapable              0
TruckOwner                     0
RVOwner                        0
Homeownership                  0
BuysViaMailOrder               0
RespondsToMailOffers           0
OptOutMailings                 0
NonUSTravel                    0
OwnsComputer                   0
HasCreditCard                  0
RetentionCalls                 0
RetentionOffersAccepted        0
NewCellphoneUser               0
NotNewCellphoneUser            0
ReferralsMadeBySubscriber      0
IncomeGroup                    0
OwnsMotorcycle                 0
AdjustmentsToCreditRating      0
HandsetPrice                   0
MadeCallToRetentionTeam        0
CreditRating                   0
PrizmCode                      0
Occupation                     0
MaritalStatus                  0
dtype: int64

The dataset has 51047 rows and 58 columns. Multiple of those columns seem to be of object type. Out of 58 columns only a handful of them contain missing values. Maximum number of missing values of a column is 909 from AgeHH1, AgeHH2.

In [13]:
# explore the object type columns
def print_unique_col_values_counts (df):
    for column in df:
        if df[column].dtypes=="object":
            print(f'{column}: {df[column].value_counts()}')

In [14]:
print_unique_col_values_counts(full_df)

Churn: No     36336
Yes    14711
Name: Churn, dtype: int64
ServiceArea: NYCBRO917    1684
HOUHOU281    1510
DALDAL214    1498
NYCMAN917    1182
APCFCH703     783
             ...
OHIRAV330       1
OMANEW515       1
KCYHES316       1
AIRGEO843       1
NCRDNN910       1
Name: ServiceArea, Length: 747, dtype: int64
ChildrenInHH: No     38679
Yes    12368
Name: ChildrenInHH, dtype: int64
HandsetRefurbished: No     43956
Yes     7091
Name: HandsetRefurbished, dtype: int64
HandsetWebCapable: Yes    46046
No      5001
Name: HandsetWebCapable, dtype: int64
TruckOwner: No     41524
Yes     9523
Name: TruckOwner, dtype: int64
RVOwner: No     46894
Yes     4153
Name: RVOwner, dtype: int64
Homeownership: Known      33987
Unknown    17060
Name: Homeownership, dtype: int64
BuysViaMailOrder: No     32596
Yes    18451
Name: BuysViaMailOrder, dtype: int64
RespondsToMailOffers: No     31821
Yes    19226
Name: RespondsToMailOffers, dtype: int64
OptOutMailings: No     50295
Yes      752
Name: OptOutMailings, dtype: int64
NonUSTravel: No     48168
Yes     2879
Name: NonUSTravel, dtype: int64
OwnsComputer: No     41583
Yes     9464
Name: OwnsComputer, dtype: int64
HasCreditCard: Yes    34503
No     16544
Name: HasCreditCard, dtype: int64
NewCellphoneUser: No     41223
Yes     9824
Name: NewCellphoneUser, dtype: int64
NotNewCellphoneUser: No     44012
Yes     7035
Name: NotNewCellphoneUser, dtype: int64
OwnsMotorcycle: No     50368
Yes      679
Name: OwnsMotorcycle, dtype: int64
HandsetPrice: Unknown    28982
30          7328
150         4115
130         2105
80          1960
10          1928
60          1776
200         1266
100         1235
40           249
400           46
250           20
300           13
180           10
500            8
240            6
Name: HandsetPrice, dtype: int64
MadeCallToRetentionTeam: No     49302
Yes     1745
Name: MadeCallToRetentionTeam, dtype: int64
CreditRating: 2-High       18993
1-Highest     8522
3-Good        8410
5-Low         6499
4-Medium      5357
7-Lowest      2114
6-VeryLow     1152
Name: CreditRating, dtype: int64
PrizmCode: Other       24655
Suburban    16378
Town         7589
Rural        2425
Name: PrizmCode, dtype: int64
Occupation: Other           37637
Professional     8755
Crafts           1519
Clerical          986
Self              879
Retired           733
Student           381
Homemaker         157
Name: Occupation, dtype: int64
MaritalStatus: Unknown    19700
Yes        18651
No         12696
Name: MaritalStatus, dtype: int64

It can be observed that the object columns are categorical in nature.The missing values are represented by 'Unknown' in the dataset. ategorical features are converted to numerical features using one hot encoding later into the process.